@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.navbar-mobile {
  display: none;
}

body {
  max-width: 1280px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

header .logo {
  display: flex;
  height: 32px;
}

header ul, a, li {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu a {
  color: black;
  margin-left: 16px;
  text-decoration-line: none;
}

header span, strong {
  font-size: 24px;
}

header span {
  color: #8f8f8f;
}

header strong {
  color: #434343;
}

a {
  text-decoration: none
}

h4 {
  color: #404040;
  font-weight: 100;
}

.container-1 {
  background-color: #d3d3d3;
  display: flex;
}

.container-1 .container1-pic {
  max-width: 60%;
  padding: 32px 24px;
}

.container1-pic img{
  width: 100%;
}

.container-1 .row1-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.pic3-mobile {
  display: none;
}

button.button {
  background-color: #434343;
  color: white;
  padding: 8px 0;
  margin: 24px;
}

.container-2 {
  background-color: white;
  display: flex;
}

.container-2 .row-right {
  border-left: 0.1px solid #e6e8e8;
  padding-top: 32px;
}

.container-2 .row2-left {
  max-width: 60%;
  padding: 32px 24px;

}

img.pic2 {
  max-width: 100%;
}

.text2-left h2 {
  margin: 24px 0 24px 0;
}

.text2-right {
  width: 40%;
}

img.pic3-1 {
  max-width: 35%;
  margin: 0 16px 16px 16px;
}

img.pic3 {
  max-width: 35%;
  margin: 16px;
}

.blog-aside {
  display: flex;
}

.text2-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 16 0 0 16px;
}

.text2-right h4 {
  padding: 8px 0;
}

.special {
  background-color: #d3d3d3;
}

.container-3 {
  background-color: #e7e8ea;
  padding: 0 72px 32px 72px;
}

h1.main-text {
  text-align: center;
  padding: 32px 0px;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.grid-blog {
  background-color: white;
}

.grid-blog img {
  width: 100%;
}

.text3 h2 {
  padding-top: 16px;
}

.text3 h3 {
  padding: 8px 0 8px;
  color: #404040;
  font-weight: 100;
}

.text3 {
  padding: 0 16px 16px 24px;
}

.container-4 {
  background-color: white;
  border-bottom: 0.1px solid #e6e8e8;
}

.container-4 .row2-left {
  max-width: 60%;
  padding: 0 24px 24px;
}

video.video-1 {
  max-width: 100%;
}

.main-text4 h2 {
  text-align: center;
}

.content4 {
  display: flex;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-left {
  padding: 16px 24px
}

.footer ul {
  display: flex;
  list-style: none;
}

.footer li {
  padding: 16px;

}