@media screen and (max-width: 640px) {
  * {
    padding: 0;
    margin: 0;
  }

  header {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    max-height: 64px;
    justify-content: space-between;
    margin: 16px;
  }

  img.logo-mobile {
    display: flex;
    max-height: 32px;
    align-items: center;
  }

  .container-1 {
    flex-direction: column;
  }

  .row1-right h3 {
    margin: 32px 0 24px 0;
  }

  .container-1 .container1-pic {
    max-width: 100%;
    padding: 0
  }

  .container-1 .row1-right {
    width: 100%;
    margin: 32px 16px;
    align-items: center;
  }

  .container-1 .text1-right h1 {
    display: flex;
    padding: 32px 16px;
    align-items: center;
  }

  .container-1 text1-right {
    max-width: unset;
    margin-left: 0px;
    padding: 32px 16px 0px;
  }

  button.button {
    margin: 0;
    max-width: 80%;
  }

  .blog-aside {
    flex-direction: column;
    padding: 16px;
  }

  .container-2 .row2-left {
    display: none;
  }

  .container-2 .row-right {
    padding: 0;
  }

  .text2-right {
    padding: 16px 16px 32px 16px;
    width: 100%;
  }

  .pic3-1, .pic3 {
    display: none;
  }

  img.pic3-mobile {
    display: flex;
    max-width: 100%;
  }

  .special {
    background-color: white;
  }

  h1.main-text {
    padding: 32px 0 16px 0;
  }

  .container-3 {
    padding: 0 16px;
    background-color: white;
    border-top: 0.1px solid #e6e8e8;
  }

  .grid {
    display: block;
  }

  .text3 h3, .text3 h4, .grid img, .container-4 .row-right, .footer ul, .container-4 .text2-left {
    display: none;
  }

  .text3 h2 {
    padding: 16px 16px 24px 16px
  }

  .text3 {
    margin-bottom: 8px;
    background-color: #d3d3d3;
    padding: 0;
  }

  last-child .text3 {
    margin-bottom: 0px;
  }

  .container-4 .row2-left {
    max-width: 100% !important;
    padding: 0 0 24px 0 !important;
  }

}